.content {
	width: calc(100vw - 250px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper {
	width: 30%;
	background-color: #ddd;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
  text-align: center;
  border-radius: 10px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: navy;
}
.content-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 5px 0;
}
button {
  color: white;
  background-color: rgb(88, 253, 93);
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(34, 255, 41);
}